html {
  font-family: Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("/Users/konstantinpfeifer/Desktop/projects/Dasmotos_Project/resources/Image 1.jpeg");
}

h2 {
  font-size: 32px;
  color: white
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
